#HomeContent {
  padding: var(--sitePadding);
  width: var(--maxViewportSize);
  height: var(--headerHeight);
  background-color: rgb(var(--blackColor));
}

.ImageSectionContent-115 {
  height: calc(var(--headerWidth) * 1.15);
}

.ImageSectionContent-075 {
  height: calc(var(--headerWidth) * 0.75);
}

.DataSectionContent-145 {
  height: calc(var(--headerWidth) * 1.45);
}

.DataSectionContent-115 {
  height: calc(var(--headerWidth) * 1.15);
}

.DataSectionContent-075 {
  height: calc(var(--headerWidth) * 0.75);
}

.DataSectionContentColorBrown {
  background-color: rgb(var(--color_3));
}

.DataSectionContentColorBrownBlur {
  background-color: rgb(var(--color_3), 0.1);
}

.BaseDataTitle {
  margin: var(--dataContentMargin);
}

#ImageSectionContentParallaxOne {
  background-image: url("../../../assets/TeraphyImg.jpg");
  width: 100%;
  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#ImageSectionContentParallaxTwo {
  background-image: url("../../../assets/TeraphyImg2.jpg");
  width: 100%;
  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#ImageSectionStatic {
  width: 100%;
  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#ImageSectionContentParallaxThree {
  background-image: url("../../../assets/TeraphyImg3.jpg");
  width: 100%;
  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#MainMap {
  width: 100%;
  height: 240px;
}

img#ContactUsImg {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
