<div class = "CardContent">
  <div class = "CardImageContent">
    <img [src] = "imageUrl" alt = "Psycologist Plans">
  </div>
  <div class = "CardTextContent">
    <div class = "CardTitle">
      <p class = "BaseFontColor BaseFont0">{{ title }}</p>
    </div>
    <div class = "CardOffersContent">
      <p class = "BaseFontColor BaseFont8">{{ hour }}</p>
      <p class = "BaseFontColor BaseFont9">{{ price }}</p>
    </div>
    <div class="CardButtonContent">
      <button type="button" class="btn btn-outline-secondary btn-sm">Agendar já</button>
    </div>
  </div>
</div>
